.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3% 5%;
    background-color: var(--contact);
    align-items: center;
}

.landing-logo {
    width: 35%;
    min-width: 300px;
    margin: 15px;
}

.contact .footer-list {
    display: flex;
    flex-flow: column;
    width: 55%;
    padding-bottom: 3%;
}

.contact input {
    width: 48%;
    height: 30px;
    background-color: var(--contact-input-background-color);;
}

.contact input[type=text] {
    color: var(--input-text);
    font-size: 20px;
    padding-inline: 15px;
}

.contact input::placeholder {
    color: var(--input-text);
    font-size: 20px;
}

.contact textarea {
    width: 50%;
    max-width: 1000px;
    min-width: 100%;
    min-height: 200px;
    background-color: var(--contact-input-background-color);
    font-size: 20px;
    padding-inline: 15px;
    padding-block: 8px;
}

.contact textarea::placeholder {
    font-size: 20px;
}


.contact .button-envoyer {
    background-color: var(--contact-input-envoyer-background-color);
    height: 35px;

    border-radius: 15px;
    border-width: 3px;
    border-color: var(--contact-input-envoyer-color);

    font-weight: 500;
    color: var(--contact-input-envoyer-color);
    font-size: 15px;
}


