
/************************************ LANDING TOP ************************************/


.landing-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 10%;
    background-color: var(--landing-page);
    align-items: center;
}

.landing-group {
    flex-direction: column;
    margin: 20px 0;
}


.button-voir-travaux {
    margin-top: 25px;
    padding: 4px 25px 4px 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    background-color: var(--button-voir-travaux-background-color);
    border-radius: 22px;

    font-weight: 500;
    color: var(--button-voir-travaux-color);
    font-size: 21px;

    cursor: pointer;
}


.landing-logo {
    width: 45%;
    min-width: 300px;
    margin: 15px;
}



@keyframes scrollAnimation {
    from {
        scroll-behavior: smooth;
    }
}


/************************************ TRAVAUX ************************************/


.travaux {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 20px 6%;
    background-color: var(--travaux);
}

.travaux-title {
    color: var(--travaux-title);
}


.cardContainer {
    overflow: auto; /* Ajoute une barre de défilement */
    white-space: nowrap;
}

.card {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 28%;
}

.card img {
    border-radius: 12px;
    max-width: 100%;
    cursor: pointer;
}

.card:hover img {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

.card:hover .agrandir {
    display: block;
}

.agrandir {
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--floral-white);
    font-size: 1.2em;
    text-align: center;
    width: 23%;
    border-radius: 7px;
    border: 3px solid var(--floral-white);
    padding: 5px;
    pointer-events: none;
}



.title {
    margin: 10px 0 20px 0;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 100, 0.55);
    z-index: 1;
    backdrop-filter: brightness(140%);
}

.overlay.visible {
    opacity: 1;
    background: rgba(0, 0, 100, 0.55);
    backdrop-filter: blur(4px) brightness(140%);
}

.fullScreen-image-block {
    display: none;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.fullScreen-header {
    pointer-events: auto;
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullScreen-image {
    pointer-events: auto;
    border-radius: 18px;
    height: 87%;
    width: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.image-title {
    color: var(--floral-white);
    font-size: 2em;
    max-width: 75%;
}

.fullScreen-buttons {
    cursor: pointer;
}


.zoom-effect {
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.zoom-effect.zoomed {
    transform: scale(1);
    opacity: 1;
}